/* external css: flickity.css */

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	height: 100%;
	background: #EEE;
}

.circle {
	aspect-ratio: 1;
	border-radius: 50%;
	display: inline-block;
}

.rounded-corner{
	border-radius: 10%;
}

.gallery {
	background: #EEE;
}

.gallery-cell {
	width: 66%;
	height: 500px;
	margin-right: 10px;
	margin-left: 10px;
	/* background: #8C8; */
	counter-increment: gallery-cell;
}
.center-screen {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
  }

/* cell number */
/* .gallery-cell:before {
	display: block;
	text-align: center;
	content: counter(gallery-cell);
	line-height: 200px;
	font-size: 80px;
	color: white;
  } */